{extend name="admin@public/base" /}
{block name="main-content"}
	<div class="page-content">



		<!--主题-->
		<div class="page-header">
			<h1>
				您当前操作
				<small>
					<i class="ace-icon fa fa-angle-double-right"></i>
					修改部门信息
				</small>
			</h1>
		</div>


		<div class="row">
			<div class="col-xs-12">
				<form class="form-horizontal" name="bm_list_edit" method="post" action="{:url('admin/Basedata/bm_runedit')}">
					<input name="bumid" id="bumid" type="hidden" value="{$bumid}" />
					<div class="form-group">
						<label class="col-sm-2 control-label no-padding-right"> 部门名称：  </label>
						<div class="col-sm-10">
							<input type="text" name="bummc" id="bummc" placeholder="输入部门名称" class="col-xs-10 col-sm-5" value="{$bummc}"/>
						</div>
					</div>
					<div class="space-4"></div>
					<!--引入拼音插件-->
					<script src="__PUBLIC__/yfcmf/pinyin_dict_firstletter.js"></script>
					<script src="__PUBLIC__/yfcmf/pinyinUtil.js"></script>
					<script type="text/javascript">
						$("#bummc").bind("input propertychange",function(){
							//实时的获取输入的文字
							var a = $(this).val();
							var pinym = pinyinUtil.getFirstLetter(a,false);
							$("#pinym").attr('value',pinym);
						});
					</script>
					<div class="space-4"></div>

					<div class="form-group">
						<label class="col-sm-2 control-label no-padding-right"> 部门编号：  </label>
						<div class="col-sm-10">
							<input type="text" name="bumbm" id="bumbm" placeholder="输入部门编号" class="col-xs-10 col-sm-5" value="{$bumbm}"/>
							<span class="lbl col-xs-12 col-sm-7"><span class="red">*</span>现在还不用,允许为空</span>
						</div>
					</div>
					<div class="space-4"></div>

					<div class="form-group">
						<label class="col-sm-2 control-label no-padding-right"> 部门经理：  </label>
						<div class="col-sm-10">
							<select name="bumjl"  class="col-sm-5" required>
								<option value="0">请选择经理</option>
								{foreach name="admin_list" item="v"}
								<option value="{$v['admin_id']}" {if $v['admin_id']==$bumjl}selected{/if}>{$v['admin_realname']}</option>
								{/foreach}
							</select>
						</div>
					</div>
					<div class="space-4"></div>

					<div class="form-group">
						<label class="col-sm-2 control-label no-padding-right"> 拼音码：  </label>
						<div class="col-sm-10">
							<input type="text" name="pinym" id="pinym" maxlength="15" minlength="6" class="col-xs-10 col-sm-5" readonly="readonly" value="{$pinym}"/>
							<span class="lbl col-xs-12 col-sm-7"><span class="red">*</span>自动生成，不用编辑</span>
						</div>
					</div>
					<div class="space-4"></div>

					<div class="clearfix form-actions">
						<div class="col-md-offset-3 col-md-9">
							<button class="btn btn-info" type="submit">
								<i class="ace-icon fa fa-check bigger-110"></i>
								保存
							</button>

							&nbsp; &nbsp; &nbsp;
							<button class="btn" type="reset">
								<i class="ace-icon fa fa-undo bigger-110"></i>
								重置
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>

	</div><!-- /.page-content -->
{/block}